@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "dot";
    src: url(assets/fonts/Nothing/NothingNdroidOsMain.ttf);
}
@font-face {
    font-family: "led";
    src: url(assets/fonts/Nothing/Nothing_NdroidOs_led.ttf);
}